</br><b>Comments</b></br></br>
<div class = "comments-list" id = "win-<%=win.id%>-comments-list">
  <%= render :partial => "comments/win_comment", :collection => win.comments,:as => :comment, :locals => {:group_id => win.post.group_id}%>
</div>

<%# This does not go the 'new' action of Comments Controller
A new comment object is created and passed via the locals hash
Since the Comments route is nested within the Posts route, the "simple_form_for [post, comment]" notiation in comments/new_post_comment partial will call create a form that passes the post_id and comment_id in the request url upon submit - i.e. the new_post_comment route is called.
Hence the submit button calls the create action on the comments controller with post_id and comments_id as params. %>
<div class = 'group-win-new-comment'>
  <%= render :partial => "comments/new_win_comment", :locals => {:group_id => win.post.group_id, :win => win, :comment => win.comments.new} %></br></br>
</div>