<div class="modal fade" id="PostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New Giveaway for <%= @group.name%></h4>
      </div>
      
      <div class="modal-body">
        <%= render :partial => "posts/giveaway_form", :locals => {:group => @group,:post => @group.posts.new} %>
      </div>
      
    </div>
  </div>
</div>