<div class="jumbotron">
  <h1>BuyNothing</h1>
  <p>Get or giveaway free stuff</p>
  <div class="row">
    <div class="col-sm-1">
      <%= link_to "Login", new_user_session_path, class: "btn btn-primary"%>
    </div>
    <div class="col-sm-11">
      <%= link_to "Don't have an account? Sign up!", new_user_registration_path, class: "btn btn-primary" %>
    </div>
  </div>  
  
</div>