<p id="notice"><%= notice %></p>
<%if current_user %>
  <%if @current_user_groups_posts == 0 %>
    <%= render "no_activity"%>
  <%else%>
    <%= render "all_activity"%>
  <%end%>
<%else%>
  <%=render "home_no_login"%>
<%end%>


