<h1>My Wins</h1></br></br>
<%@current_user_wins.each do |current_user_win|%>
   <div class = "row">
     <div class="col-md-1">
       <%if current_user_win.post.pictures.present?%>     
         <%= image_tag current_user_win.post.pictures.first.image.url(:original), size: "100x10",:class => "img-responsive" %>
       <%else%>
         <%= image_tag "default_post_image.jpeg", size: "100x10",:class => "img-responsive" %>
       <%end%>
     </div>
   
     <div class="col-md-11">
      <h2><%= link_to current_user_win.post.title,current_user_win  %></h2>
     </div>       
   </div>
<%end%>